@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/*Fonts*/

h1,
h2,
h3 {
    color: #222;
    font-family: "Ubuntu Sans", "Helvetica" , "Arial" , sans-serif;
}

main {
    color: #222;
    font-family: "Reddit Sans" , "Helvetica" , "Arial" , sans-serif;
    font-size: 18px;
}

nav {
    font-family: "Reddit Sans" , "Helvetica" , "Arial" , sans-serif;
    font-size: 18px;
}

/*Grid*/

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    grid-template-areas: 
        "header  header"
        "nav     main";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

/*Background color*/

nav {
    background-color: rgb(255, 160, 189);
    width: 200px;
    height: 100%;
    overflow: auto;
}

header {
    background-color: rgb(255, 205, 220);
    width: auto;
    overflow: auto;
    height: 85px;
    margin-left: 15px;
}

/*Links*/

a,
a:link {
    color: rgb(85, 87, 95)
}

a:hover {
    color: rgb(255, 255, 255)
}

a:active {
    color: rgb(58, 60, 70)
}

a:visited {
    color: rgb(0, 21, 124)
}

/*Positioning*/

nav ul {
    margin-top: 25px;
    line-height: 2;
}

nav {
    margin-left: 15px;
}

header {
    padding-left: 25px;
}

#pizza-pic {
    margin-left: 17px;
    margin-bottom: 25px;
}

#pancake-pic {
    margin-right: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#pasta-pic {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    text-align: left;
    word-spacing: 1px;
}

#intro-one {
    margin-right: 230px;
}

#intro-two {
    margin-right: 230px;

}

h2 {
    margin-left: 180px;
    margin-right: 180px;
}

#omelette-pic {
    margin-left: 50px;
}

#avo-toast-pic {
    margin-left: 45px;
}

#breakfast-two {
    margin-top: 75px;
}

#blt-pic {
    margin-left: 115px;
}

#lunch-two {
    margin-top: 75px;
    margin-left: 35px;
}

#greek-pic {
    margin-right: 145px;
}

#recipe-one {
    margin-top: 35px;
}

#recipe-two {
    margin-top: 35px;
}

#recipe-three {
    margin-top: 35px;
}

#recipe-four {
    margin-top: 35px;
}

#recipe-five {
    margin-top: 35px;
}

#recipe-six {
    margin-top: 35px;
}

#chicken-pic {
    margin-left: 70px;
}

#burrito-bowl-pic {
    margin-right: 50px;
}

#dinner-two {
    margin-top: 75px;
    margin-left: 25px;
}

#dinner-one {
    margin-right: 25px;
}

ol {
    line-height: 28px;
}

ul {
    line-height: 25px;
}





